###############
# APPLICATION #
###############
data/*
logs/*

########
# NODE #
########
node_modules
npm-debug.log

###############
# SublimeText #
###############
*.sublime-workspace

#######
# OSX #
#######
.DS_Store
.AppleDouble
.LSOverride
Icon

._*

.Spotlight-V100
.Trashes