<html>
  <head>
    <title>Fantasia</title>

    <link rel="stylesheet" href="./css/main.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.socket.io/socket.io-1.2.1.js"></script>

    <script src="/fatPack.js"></script>
    <script>
      $(function() {
        require("./index");
      });
    </script>
  </head>

  <body>
    <div class="container">
      <h1 class="header"></h1>

      <div class="login">
        <div>
          <h2>Sign up</h2>
          <form class="signUp" action="javascript:void(0);">
            <input class="username" placeholder="Username" type="text"></input>
            <input class="password" placeholder="Password" type="password"></input>
            <input type="submit"></input>
          </form>

          <h2>Sign in</h2>
          <form class="signIn" action="javascript:void(0);">
            <input class="username" placeholder="Username" type="text"></input>
            <input class="password" placeholder="Password" type="password"></input>
            <input type="submit"></input>
          </form>
        </div>
      </div>

      <div class="room">
        <h2 class="title">Room</h2>
        <span class="description">Description</span>
        <span class="exits">Exits</span>

        <form class="execute" action="javascript:void(0);">
          <input class="command" type="text"></input>
        </form>
      </div>

      <div class="popover helpContainer">
        <div class="help">
          <h2>Available commands:</h2>
          <table>
            <tr><td>Refresh                 </td><td><span class="command">refresh                                    </span></td></tr>
            <tr><td>Create exit             </td><td><span class="command">create exit [exit name]                    </span></td></tr>
            <tr><td>Start link between rooms</td><td>In Room A, <span class="command">start link [Room A's exit name] </span></td></tr>
            <tr><td>Close link between rooms</td><td>In Room B, <span class="command">close link [Room B's exit name] </span></td></tr>
            <tr><td>Rename exit             </td><td><span class="command">rename exit [old exit name]:[new exit name]</span></td></tr>
            <tr><td>Rename room             </td><td><span class="command">rename room [new room name]                </span></td></tr>
            <tr><td>Describe room           </td><td><span class="command">describe room [new room description]       </span></td></tr>
            <tr><td>Move through exit       </td><td><span class="command">go [exit name]                             </span></td></tr>
          </table>
        </div>
      </div>

      <div class="footer">
        <span>Account ID: </span><span class="accountId"></span>
        <a class="helpButton" href="javascript:void(0);">Help</a>
        <a class="logout" href="javascript:void(0);">Logout</a>
      </div>
    </div>
  </body>
</html>
