<html>
  <head>
    <title>{{title}}</title>

    <style type="text/css">
      body {
        color: white;
        text-shadow: 2px 2px black;

        background-image: url("wallpaper.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
      }
    </style>
  </head>

  <body>
    <h1>{{title}}</h1>

    <p>{{title}}</p>
  </body>
</html>