<html>
  <head>
    <title>{{title}}</title>

    <style type="text/css">
      body {
        color: white;
        text-shadow: 2px 2px black;

        background-image: url("/images/wallpaper.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
      }
    </style>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/fatPack.js"></script>
    <script type="text/javascript">
      require("./index");
    </script>
  </head>

  <body>
    <h1>{{title}}</h1>

    <p>{{title}}</p>

    {{#unless username}}
      <div>
        <span>Sign Up:</span>
        <form method="POST" action="./login/signUp" enctype="application/x-www-form-urlencoded">
          <input type="text"     name="username" required />
          <input type="password" name="password" required />

          <input type="submit" value="Submit" />
        </form>
      </div>

      <div>
        <span>Sign In:</span>
        <form method="POST" action="./login/signIn" enctype="application/x-www-form-urlencoded">
          <input type="text"     name="username" required />
          <input type="password" name="password" required />

          <input type="submit" value="Submit" />
        </form>
      </div>
    {{/unless}}
  </body>
</html>