html, body {
  height: 100%; }

.login.container, .room.container, .footer.container {
  display: none; }

.room.container {
  min-height: 100%;
  height: auto;
  margin: 0 auto -170px; }
  .room.container .content[contenteditable=true] {
    height: auto;
    font-size: inherit; }

.footer.container {
  height: 170px; }

@media (min-width: 768px) {
  .room.container {
    margin: 0 auto -100px; }

  .footer.container {
    height: 100px; }
}

.popover {
  max-width: 370px; }

/* TODO Remove this eventually! */

h1 {
  color: blue;
}

span.command {
  font-family: monospace; }
