html, body {
  height: 100%; }

.room.container .content[contenteditable=true] {
  height: auto;
  font-size: inherit; }

.help.container-fluid {
  max-height: 200px;
  overflow-y: auto; }

/* TODO Remove this eventually! */

h1 {
  color: blue;
}
